<template>
  <VExpansionPanelTitle>{{ title }}</VExpansionPanelTitle>
  <VExpansionPanelText v-if="songReference.versificationId">
    <div class="my-2" v-for="stanza in stanzas" :key="stanza.stanza_number">
      <p>{{ stanza.stanza_number }}</p>
      <p v-if="stanza.heading">{{ stanza.heading }}</p>
      <pre>{{ stanza.lyrics }}</pre>
    </div>
  </VExpansionPanelText>
  <VExpansionPanelText v-else>
    Please choose a versification above.
  </VExpansionPanelText>
</template>

<script setup lang="ts">
import { getStanzas, getVersification } from "@/db/util";
import { computed } from "vue";
import type { Stanza, Versification } from "@/db/types";
import { renderSongReference, renderVersification } from "@/units/render";
import type { SongReference } from "@/types";

const props = defineProps<{
  songReference: SongReference;
}>();

const versification = computed<Versification | undefined>(() => {
  if (props.songReference.versificationId) {
    return getVersification(props.songReference.versificationId);
  }
  return undefined;
});

const title = computed<string>(() => {
  const renderedSongReference = renderSongReference(
    props.songReference.book,
    props.songReference.number,
    props.songReference.stanzas,
  );
  if (versification.value) {
    return `${renderedSongReference} – ${renderVersification(versification.value.year, versification.value.author)}`;
  }
  return renderedSongReference;
});

const stanzas = computed<Stanza[]>(() => {
  if (versification.value) {
    return getStanzas(
      props.songReference.book,
      props.songReference.number,
      props.songReference.stanzas,
      versification.value.id,
    );
  }
  return [];
});
</script>
