<template>
  <VCard class="slide" ref="rootComponent">
    <div class="slide__content">
      <svg
        class="slide__svg"
        :viewBox="`0 0 ${svgWidth} ${svgHeight}`"
        preserveAspectRatio="xMidYMid meet"
        fill="white"
      >
        <rect width="100%" height="100%" fill="black"></rect>
        <text x="24" y="1.5em" text-anchor="start" font-size="250%">
          {{ headerLeft }}
        </text>
        <text :x="svgWidth - 24" y="1.5em" text-anchor="end" font-size="250%">
          {{ headerRight }}
        </text>
        <text
          ref="lyricsComponent"
          text-anchor="middle"
          :font-size="lyricsFontSize"
          :y="lyricsYOffset"
        >
          <tspan
            v-for="(line, lineNumber) in lyrics"
            :key="lineNumber"
            x="50%"
            dy="1.5em"
          >
            {{ line }}
          </tspan>
        </text>
      </svg>
    </div>

    <VCardActions>
      <VSpacer></VSpacer>
      <VBtn @click="makePng()">
        <VIcon>{{ mdiDownload }}</VIcon>
        <span>PNG</span>
      </VBtn>
      <VBtn @click="makeSvg()">
        <VIcon>{{ mdiDownload }}</VIcon>
        <span>SVG</span>
      </VBtn>
    </VCardActions>
  </VCard>
</template>

<script setup lang="ts">
import { saveSvgAsPng } from "save-svg-as-png";
import saveAs from "file-saver";
import { computed, onMounted, onUpdated, ref } from "vue";
import { mdiDownload } from "@mdi/js";

const props = defineProps<{
  headerLeft: string;
  headerRight: string;
  lyrics: string[];
}>();

const svgWidth = ref<number>(1600);
const svgHeight = ref<number>(900);
const lyricsHeight = ref<number>(0);

const lyricsComponent = ref<SVGGraphicsElement | null>(null);
const rootComponent = ref<HTMLElement | null>(null);

const lyricsYOffset = computed(
  () => (svgHeight.value - lyricsHeight.value) / 2,
);

const lyricsFontSize = computed(() => {
  // Use 400% font size for 4 lines.
  const a = 4;
  const c = 400;

  // Use 300% font size for 8 lines.
  const b = 8;
  const d = 300;

  // Extrapolate font size linearly using two-point linear equation.
  // https://en.wikipedia.org/wiki/Linear_equation#Two-point_form
  const x = props.lyrics.length;
  const y = ((x - a) / (b - a)) * (d - c) + c;
  return `${y}%`;
});

function updateLyricsHeight() {
  if (!lyricsComponent.value) {
    return;
  }

  const newValue = lyricsComponent.value.getBBox().height;
  const delta = Math.abs(lyricsHeight.value - newValue);
  const threshold = 2; // pixels

  // DO NOT perform update if delta is less than the threshold, as it will trigger an infinite loop between
  // the `updated` lifecycle hook and this function, every time with a slightly different value.
  if (delta > threshold) {
    lyricsHeight.value = newValue;
  }
}

function makePng() {
  if (!rootComponent.value) {
    return;
  }

  saveSvgAsPng(
    rootComponent.value.querySelector("svg.slide__svg"),
    "slide.png",
  );
}

function makeSvg() {
  if (!rootComponent.value) {
    return;
  }

  const slideSvg = rootComponent.value.querySelector("svg.slide__svg");
  if (!slideSvg) {
    return;
  }

  saveAs(
    new Blob([slideSvg.outerHTML], {
      type: "image/svg+xml",
    }),
    "slide.svg",
  );
}

onMounted(() => {
  updateLyricsHeight();
});

onUpdated(() => {
  updateLyricsHeight();
});
</script>

<style scoped lang="scss">
svg {
  width: 100%;
  max-height: 50vh;
}
</style>
