<template>
  <VApp>
    <VAppBar app="app" color="primary" dark="dark">
      <VAppBarTitle>Skuifiemaker</VAppBarTitle>
      <template #append>
        <VBtn
          href="https://bitbucket.org/skuifiemaker/skuifiemaker_vue/issues?status=!resolved"
          target="_blank"
        >
          <span>Report a bug</span>
          <VIcon class="ml-2">{{ mdiOpenInNew }}</VIcon>
        </VBtn>
      </template>
    </VAppBar>
    <VMain>
      <RouterView></RouterView>
    </VMain>
    <VFooter app>
      <p>
        Made by
        <a href="https://github.com/rudolfbyker">Dolf</a>
        .
      </p>
    </VFooter>
  </VApp>
</template>

<script setup lang="ts">
import { mdiOpenInNew } from "@mdi/js";
</script>
